.App {
  background-color: #545f7d;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100%;
}

.Board {
  padding: 50px;
  min-width: 45%;
  padding-right: 40px;
}

.Score {
  padding: 50px;
}

@media screen and (max-width: 700px ){
  .App {
    display: block;
    padding-right: 40px;
  }
}